@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Prompt';
  src: url('../assets/Prompt/Prompt-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

[data-theme='dark'] {
  --background: #121212;
  --foreground: #ffffff;
}


/* Body styling */
body {
  color: var(--foreground); /* ใช้ตัวแปร --foreground สำหรับสีตัวหนังสือ */
  background: var(--background); /* ใช้ตัวแปร --background สำหรับสีพื้นหลัง */
  font-family: 'Prompt', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

